@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}


/* TRANSAPARENCIA */
.caja-trans{
    position: absolute;
    width: 100%;
    height: 100vh;
}
.caja-trans .img-trans{
    width: 100%;
    height: 100vh;
    z-index: 7;
    overflow: hidden;
}


/* SLIDER TEXTOS */
.caja-trans .slider-text{
    width: 5%;
    margin-left:81.5%;
    transform: translateY(-25.2rem);
    overflow: hidden;
}
.caja-trans .slider-text ul{ 
    display: flex;
    padding: 0;
    width: 600%;
    animation: cambio 60s infinite;
    animation-direction: alternate;
}
.caja-trans .slider-text li{
    font-size: 28px;
    font-family: "Helvetica";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.732;
    margin-top: 1px;
    width: 100%;
    list-style: none;
    z-index: 12;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.534);
}
.caja-trans .slider-text li span{
    font-size: 14px;
    font-weight: 400;
    margin-left: 1.5px;
    margin-top: 1px;
    line-height: 0.75;
    position: absolute;
}
@keyframes cambiotext{
    0%  {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    35% {margin-left: -100%;}

    40% {margin-left: -200%;}
    50% {margin-left: -200%;}

    55% {margin-left: -300%;}
    65% {margin-left: -300%;}

    70% {margin-left: -400%;}
    80% {margin-left: -400%;}

    85% {margin-left: -500%;}
    100%{margin-left: -500%;}
}


/* SLIDER IMG */
.slider{
    width: 100%;
    height: 100vh;
    margin: auto;
    overflow: hidden;
}
.slider ul{ 
    display: flex;
    padding: 0;
    width: 600%;
    animation: cambio 60s infinite;
    animation-direction: alternate;
}
.slider li{
    width: 100%;
    list-style: none;
}
.slider img{
    width: 100%;
    height: 100vh;
}
@keyframes cambio{
    0%  {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    35% {margin-left: -100%;}

    40% {margin-left: -200%;}
    50% {margin-left: -200%;}

    55% {margin-left: -300%;}
    65% {margin-left: -300%;}

    70% {margin-left: -400%;}
    80% {margin-left: -400%;}

    85% {margin-left: -500%;}
    100%{margin-left: -500%;}
}


/* BARRA NAVEGACION */
nav{
    width: 100%;
    height: 3rem;
    position: absolute;
    top: 10%;
    padding-left: 5%;
    padding-right: 5%;
    z-index: 62;
    justify-content: space-between;
    display: flex;
}
nav .logo{
    width: 8.5rem;
}
nav{
    display: flex;
    align-items: center;
}
nav .opc1{
    display: flex;
    position: absolute;
    padding-left: 21% ;
}
nav .productos{
    margin-right: 52.5px;
}
nav ul li{
    font-size: 15px;
    list-style-type: none;
    display: inline-block;
}
nav ul li a{
    color: white;
    text-decoration:none;
    text-transform: uppercase;
    cursor: pointer;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.534);
    z-index: 0;
}
nav ul li a:hover{
    border-bottom: 3px solid #ffffff;
    transition: .4s;
}



/* CONTENIDO HOME */
.content{
    width: 90vw;  
    position: absolute;
    top: 28%;
    padding-left: 25%;
    text-align: left;
}
h1{
    font-size: 100px;
    color: rgb(255, 255, 255);
    font-weight: 900;
    text-transform: uppercase;
    line-height: 0.78;
    z-index: 10;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.534);
}
p{
    font-size: 16.667px;
    letter-spacing: 2.8px;
    color: rgb(255, 255, 255);
    line-height: 3;
    margin-left: .2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.534);
}
.btn-catalogo{
    font-size: .8rem;
    color: #000000;
    border-radius: 10px;
    background-color: #ffffff;
    text-decoration: none;
    margin-top: 50px;
    border: unset;
    padding: 5px 10px;
    border-radius: .5rem; 
    margin-left: .2rem;
    transition: all .2s;
}
.btn-catalogo:hover{
    transition: .4s;
    background: #000000;
    color: #ffffff;
}
/* REDES SOCIALES */
.social-red{
    height: 20rem;
    width: 90vw;    
    position: absolute;
    top: 37rem;
    padding-left: 5%;
}
.social-red a{
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.534);
}
.social-red a:hover{
    transition: .4s;
    text-shadow:10px 10px 4px rgba(0, 0, 0, 0.534);
    font-size: 28px;
}


/* CAJA DE OPCIONES */
.caja-opc{
    height: 15rem;
    width: 46%;
    position: absolute;
    top: 80%;
    margin-left:50%;
    background-color: rgb(255, 255, 255);
    display: flex;
    padding-left: 3rem;
    padding-top: 1.5rem;
}
.caja-opc a{
    color: #000000;
    height: 6.5rem;
}
.caja-opc a:hover{
    transition: .4s;
    text-shadow:3px 3px 4px rgba(0, 0, 0, 0.534);
    font-size: 28px;
}
.caja-opc ul li{
    font-size: 15px;
    list-style-type: none;
    display: inline-block;
    margin-right: 6.5rem;
    line-height: 20px;
}
h4{
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 6px;
}
h6{
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 6px;
}
hr{
    background-color: #000000;
    width: 13px;
    height: 2.5px;
}
h5{
    margin-top: 6px;
    line-height: 1;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 1.3px;
}
ul li .icn-opciones{
    position: absolute;
    padding-top: 27px;
    margin-left: 2.2rem;
}
ul li .icn-opciones a:hover{
    transition: .4s;
    width: 1.8rem;
}

.icn-opciones{
    width: 1.5rem;
}


/* SECCION 2 (MAPA) */
.sec2{
    width: 100%;
    height: 100vh;
}


/* RECTANGULO DE BORDE */
.bord-cajasec1{
    height: 57.5px;
    width: 50%;
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 51rem;
}


/* TITULO */
.contacto h3{
    font-weight: 200;
    font-size: 30px;
    text-transform: uppercase;
    position: absolute;
    z-index: 0;
    line-height: 1.828;
    margin-left: 5%;
    top: 53.53rem;
    letter-spacing: 28px;
}


/* MAPA */
.mapa{
    width: 50%;
    height: 25.2rem;
    margin-top: 12.8rem;
}
.informacion-map{
    position: absolute;
    left: 53rem;
    top: 60rem;
    list-style: none;
}
.subt{
    line-height: 0.4;
    letter-spacing: 11px;
    font-weight: 800;
    text-transform: uppercase;
}
.inf{
    font-size: 13px;
    text-transform: uppercase;
    margin-top: 13px;
    color: #000000;
    letter-spacing: 4.4px;
    line-height: 1.5;
}
.lin-info{
    margin-top: 20px;
    height: 6px;
    width: 40px;
}
.caja-list{
    display: flex;
    align-items: center;
}
.list-1, .list-2{
    margin-top: 25px;
}
.list-1 li{
    list-style: none;
    font-size: 15px;
    color: #000000;
    line-height: 1.5;
    letter-spacing: 5px;
    
}
.list-2 li{
    list-style: none;
    text-decoration: none;
    margin-left: 35px;
    font-size: 15px;
    font-weight: 700;
    color: #000000;
    line-height: 1.5;
    letter-spacing: 5px;
}
.list-2 li a{
    text-decoration: none;
    color: #000000;
}
.caja-rectan2{
    position: absolute;
    display: flex;
}
.rect10{
    width: 250px;
    height: 80px;
    margin-top: 6.5rem;
}
.btn-ampliar{
    height: 50px;
    margin-top: 6.5rem;
    margin-left: 12px;
}
.img-ampliar{
    height: 50px;
    margin-top: 6.5rem;
    margin-left: 12px;
}
.imagen-light{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.534);
    transform: translate(100%);
    transition: transform .2s ease-in-out;
}
.show{
    transform: translate(0);
}
.agregar-imagen{
    width: 60%;
    transform: scale(0);
    transition: transform .3s .2s;
}
.showImage{
    transform: scale(1);
}
.close{
    position: absolute;
    top: 100px;
    right: 40px;
    width: 40px;
    cursor: pointer;
}